/* Animations keyframes */
.loading-text {
  animation:  fadeOutText 2.5s forwards;
}

@keyframes fadeOutText {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.menu {
  animation: fadeInMenu 1s forwards 2s;
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loading-text-about {
  animation:  fadeOutTextAbout 2.5s forwards;
}

@keyframes fadeOutTextAbout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.container-about-page {
  animation: fadeinContentAbout 1s forwards 2s;
}

@keyframes fadeinContentAbout {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-me-text {
  animation: fadeOutWithDots 1s forwards 4s;
}

@keyframes fadeOutWithDots {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.container-contact-form-flex {
  animation: fadeFormAnimation 4s forwards 5s;
}

@keyframes fadeFormAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-flex {
  animation: fadeInCards 1s forwards 2s;
}

@keyframes fadeInCards {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projects-header {
  animation: headerProjects 2.5s forwards;
}

@keyframes headerProjects {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -400%);
    opacity: 1;
  }
}

.container-projects-flex-bottom {
  animation: fadeInContentProjects 1s forwards 2s;
}

@keyframes fadeInContentProjects {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

