@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ========================================================================================================== */
/* ============================================ CSS RESET =================================================== */
/* ========================================================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

input, textarea, select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

/* ========================================================================================================== */
/* =============================================== HOME ===================================================== */
/* ========================================================================================================== */

canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.loading-text {
  position: absolute;
  font-size: 5rem;
  color: #fff;
  display: block;
}

.menu {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  opacity: 0;
}

.menu-buttons,
.hire-me-btn,
.btn-form,
.project-links {
  align-items: center;
  background-image: linear-gradient(144deg, #fff, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-width: 140px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.menu-buttons:active,
.menu-buttons:hover,
.hire-me-btn:active,
.hire-me-btn:hover,
.btn-form:active,
.btn-form:hover,
.project-links:active,
.project-links:hover {
  outline: 0;
}

.menu-buttons span,
.hire-me-btn span,
.btn-form span,
.project-links span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.menu-buttons:hover span,
.hire-me-btn:hover span,
.btn-form:hover span,
.project-links:hover span {
  background: none;
}

/* ========================================================================================================== */
/* ============================================= ABOUT ME =================================================== */
/* ========================================================================================================== */

.container-about,
.container-contact,
.container-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-content-about {
  width: 75rem;
  position: relative;
}


.container-about-page {
  opacity: 0;
}

.loading-text-about {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3rem; 
  margin-left: -12rem;
  font-size: 5rem;
  color: #fff;
  display: block;
  z-index: 1;
  
}

.image {
  height: 600px;
  width: 400px;
  border-radius: 10px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

.border-div {
  position: absolute;
  height: 603px;
  width: 403px;
  background: linear-gradient(144deg, #fff, #5B42F3 50%,#00DDEB);
  border-radius: 10px;
  z-index: -1;
  top: 0;
}

.about-btns {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.about-btn {
  width: 10rem;
  height: 2rem;
  text-decoration: none;
  color: #fff;
  background: rgb(5, 6, 45);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 300ms all;
}

.about-btn.focus:focus {
  background: linear-gradient(144deg, #fff, #5B42F3 50%,#00DDEB);
}

.container-about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.who-am-i,
.dev-background,
.passion {
  color: #fff;
  font-weight: 200;
  font-size: 1.7rem;
  margin: 0 0 1rem 0;
}

.container-about-right-text-who-am-i,
.container-about-right-text-dev-background,
.container-about-right-text-passion {
  color: #fff;
  font-weight: 400;
  font-size: inherit;
  text-align: justify;
  margin: 0 0 1.5rem 0;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* ========================================================================================================== */
/* ============================================ CONTACT ME ================================================== */
/* ========================================================================================================== */

.container-contact-form-flex {
  margin-top: 3rem;
}

.contact-form {
  width: 40rem;
}

.email-flex,
.subject-flex,
.textarea-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0 2rem 0;
}

.contact-form label {
  font-size: 1.5rem;
  font-weight: 200;
  color: #fff;
}

.contact-form input {
  height: 3rem;
  font-size: 1rem;
  padding:  1rem;
  color: #fff;
  font-weight: 400;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: outline 0.1s ease-in;
}

.contact-form textarea {
  height: 6rem;
  font-size: 1rem;
  padding: 1rem;
  color: #fff;
  font-weight: 400;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: outline 0.1s ease-in;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid #fff;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: linear-gradient(144deg, #fff, #5B42F3 50%,#00DDEB);
  padding: 0.5rem;
  color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: 300ms all;
} 

.links a:hover {
  background: rgb(5, 6, 45);
}

.contact-me-text {
  position: absolute;
  font-size: 5rem;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -3rem; 
  margin-left: -16rem;
}

.container-contact-form-flex {
  opacity: 0;
}

/* ========================================================================================================== */
/* ============================================ MY PROJECTS ================================================= */
/* ========================================================================================================== */

.swiper {
  width: 75rem;
  margin-bottom: 1rem;
}

.swiper-button-prev,
.swiper-button-next {
  color:#fff !important;
}

.swiper-pagination-bullet {
  background-color:#fff !important;
}

.container-projects-flex-top .projects-header {
  display: block;
  font-size: 4rem;
  color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.swiper-slide.card {
  padding: 5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.card-content .project-title,
.card-content .technologies-used-title {
  font-size: 1.7rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 0.5rem;
}

.card-content .description-project,
.card-content .technology {
  color: #fff;
  text-align: justify;
}

.card-content .technology {
  margin-left: 0.3rem;
}

.card-content .description-project {
  margin-bottom: 0.5rem;
}

.card-content a {
  color: #fff;
  margin-left: 0.3rem;
}

.card-inside img {
  width: 400px;
  height: 350px;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;;
}

.container-projects-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.container-projects-flex-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}

.container-projects-bottom {
  display: flex;
  gap: 2rem;
}

.technologies-used-flex {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.card-content .track-calorie {
  display: block;
}






